/* BODY */
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 12%, rgba(218, 219, 212, 1) 12%);
    padding-top: 1rem;
    padding-bottom: 3rem;
}

/* STYLE FOR splash page */
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 9999;
}

.splash img {
    width: 100vh;
}

/* LEFT */
.containerApp {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.section {
    height: 70px;
    background-color: white;
}

.myProfile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}

.fontSizeLastMessages {
    font-size: 13px;
}

.aside {
    background-color: rgb(234 234 234);
    width: 35%;
}

.iconColor {
    color: rgb(147, 147, 147);
    margin-right: 1rem;
    cursor: pointer;
}

.iconColor:hover {
    color: rgba(0, 150, 136, 1);
}

#notifications {
    background-color: #8edafc;
    display: flex;
    background-color: #8edafc;
    align-items: center;
    justify-content: center;
}

.iconNotifications {
    color: #8edafc;
    font-size: 1.3rem;
    margin: 5px;
}

#positionNotification {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    top: 15px;
    left: 20px;
}

#textNotifications {
    top: 10px;
    left: 65px;
}

.searchInput {
    height: 50px;
    background-color: #DDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactsLeft {
    height: calc(100% - 70px - 70px - 50px);
    overflow-y: auto;
    background-color: rgb(224, 224, 224);
}

.chatStyle {
    cursor: pointer;
    background-color: white;
}

.chatStyle:hover {
    background-color: #EEEEEE;
}

.chatStyle.activeContact {
    background-color: #E0E0E0;
}

/* RIGHT */
main {
    width: 65%;
}

.partMessages {
    border: 0.5px solid rgb(168, 168, 168);
}

.textDate {
    font-size: 0.7rem;
}

.chatMessages {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 140px);
    overflow: auto;
    position: relative;
}

.receivedMessage {
    background-color: #FFFFFF;
    justify-content: flex-start;
    max-width: 380px;
    padding: 10px;
    margin: 4px;
    word-break: break-all;
}

.sentMessage {
    background-color: #D1F4CC;
    justify-content: flex-start;
    max-width: 380px;
    padding: 10px;
    margin: 4px;
    word-break: break-all;
}

/* ERROR MESSAGE FOR INPUT */
.errorMessage {
    animation: bounce .3s
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {

    25% {
        transform: translateX(4px);
        border-color: red;
    }

    50% {
        transform: translateX(-4px);
        border-color: red;
    }

    75% {
        transform: translateX(4px);
        border-color: red;
    }
}